###############################################################################
# BEGIN TEMPLATE: markdown-template
###############################################################################

# OS metadata
.DS_Store
Thumbs.db
Desktop.ini

# Markdown export artifacts
/*.html
/*.pdf

###############################################################################
# END TEMPLATE: markdown-template
###############################################################################
